auth:
  - match: mac
    mac: 00:00:00:00:00:00
    creds:
      user: test1_user
      pass: test1_pass

  - match: address
    address: 1.2.3.4
    creds:
      user: test2_user
      pass: test2_pass

  - match: model
    model: SHPLG-S
    creds:
      user: test3_user
      password: test3_pass
